<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>testLocal</title>
</head>
<body>
    <p>my name is {name}, age is{age}, sex is{sex}</p>
    <form action="/testLocal" method="post" >
        <input type="text" name='name' />
        <input type="number" name="age" />
        <input type="image" name="img" />
        <input type="file" name="file" />
        <input type="file" name="file" />
        <button type="submit">submit</button>
    </form>
</body>
</html>