#drag{
    border: 1px solid red;
    position: relative;
    cursor: pointer;
}
#drag~span{
    position: relative;
    cursor: pointer;
}
.scope div{
    border: 1px solid rgb(110, 136, 61);
    padding: 20px;
}


custom-checkbox {
    cursor: pointer;
    display: inline-block;
  }
  
  custom-checkbox .icon:before {
    content: '\2610';
    display: inline-block;
    font-size: 2em;
    line-height: 1;
    speak: none;
    vertical-align: middle;
  }
  
  custom-checkbox.checked .icon:before {
    content: '\2611';
  }